:root {
    --margin-y: 3rem;
    --margin-x: 2rem;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;

    display: grid;
    place-items: center;
    gap: 0;
}

header {
    padding: calc(var(--margin-y) / 5) calc(var(--margin-x) / 5);
}

@media all and (display-mode: fullscreen) {
    header {
        display: none;
    }
}